<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Interactive maps for Django web apps</title>
    {% load plotly_dash %}
    {% plotly_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'map/style.css' %}">
  </head>
  <body>

  {%plotly_direct name="DashMap"%}


  </body>
    {% plotly_footer %}

</html>